<html>
    <header class="header">
        <div class="top-header">
            <a href="/" style="all: unset; cursor:pointer;">
                <img src="/images/img.png" alt="logo-livre">
            </a>
            <a href="/addBook" class="addBookButton">Ajouter un nouveau livre</a>
        </div>
        <div class="categoriesContainer">
            <a href="/categories/romance">Romance</a>
            <a href="/categories/developpement-personnel">Développement personnel</a>
            <a href="/categories/science-fiction">Science-fiction</a>
            <a href="/categories/enfant">Enfant</a>
            <a href="/categories/fantasy">Fantasy</a>
            <a href="/categories/thriller">Thriller</a>
        </div>
    </header>
</html>