a{
    all: unset;
    font-family: "Arial Rounded MT Bold";
    cursor: pointer;
}

*{
    font-family: Arial;
}

body{
    all: unset;
}

.header{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 100%;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.header img{
    width: 150px;
    height: auto;
}

.header .addBookButton{
    all: unset;
    background-color: #009B77;
    padding: 15px;
    color: white;
    border-radius: 10px;
    transition: padding 0.3s ease-out;
}

.header .addBookButton:hover{
    padding: 17px;
    cursor: pointer;
}

.header h1{
    transition: color 0.3s ease-out;
}

.header h1:hover{
    color: white;
}

.mainAddBook{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.booksContainer{
  display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #F9FAFA;
}

.bookCard{
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: 600px;
}

.formContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color: dodgerblue;
    border-radius: 25px;
}

.inputContainerFormAddBook{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    width: 80%;
}


.inputContainerFormAddBook input{
    width: 200Px;
    height: 30px;
}

.mainAddBook button{
    font-size: 20px;
    margin: 7px;
}

.categoriesContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    height: 50px;
    padding: 0 10px;
}

.categoriesContainer a{
 transition: color 0.3s ease-out;
}

.categoriesContainer a:hover{
    color: #1E91D5;
}

